[sticky-table-header] {
	position: relative;

	.sticky-clone {
		background: #fff;
		display: none;
		position: fixed;
			left: 0;
			right: 0;
			top: 0;

		&.sticky-stuck {
			display: table;
			z-index: 1000;
		}
	}
}