<!doctype html>
<html ng-app="demo">
<head>

	<meta charset="utf-8">

	<title>angular-sticky-table-header demo</title>

	<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="../dist/angular-sticky-table-header.css">
	<style>

		.sticky-clone {
			background: #fff;
		}

	</style>

</head>
<body ng-controller="mainCtrl">

	<div sticky-table-header rows="rowCollection">

		<table class="table">
			<thead>
				<tr>
					<th ng-repeat="th in columnCollection">{{th}}</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="tr in rowCollection">
					<td ng-repeat="td in tr">{{td}}</td>
				</tr>
			</tbody>
		</table>

	</div>

	<script src="../bower_components/lodash/dist/lodash.js"></script>
	<script src="../bower_components/jquery/dist/jquery.js"></script>
	<script src="../bower_components/angular/angular.js"></script>
	<script src="../bower_components/watch-dom/dist/watch-dom.js"></script>
	<script src="../dist/angular-sticky-table-header.js"></script>
	<script>

		angular
		.module('demo', ['turn/stickyTableHeader'])
		.controller('mainCtrl', ['$scope', function ($scope) {

			$scope.columnCollection = ['column1', 'column2', 'column3', 'column4'];

			$scope.rowCollection = Array
				.apply(null, { length: 200 })
				.map(function() {

					return $scope.columnCollection.map(function (v, n) {
						return 'foo ' + n;
					});

				});
			
		}]);

	</script>
</body>
</html>