[sticky-table-header] {
	position: relative;

	.sticky-header {
		overflow-x: auto;
	}

	.sticky-clone {
		display: none;
		position: fixed;
			top: 0;

		&.sticky-stuck {
			display: table;
			z-index: 1000;
		}
	}

}